body {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 0px; 
    background: linear-gradient(#6bae83, #c63941);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFFFFF;
}

.container1 {
    display: flex;
    align-items: center; 
    justify-content: center; 
}

label {
    margin-right: 10px;
}

input {
    margin-right: 10px; 
}

h1 {
    text-align: center;
}

.container2 {
    display: flex; /* Gebruik flexbox */
    flex-direction: row; /* Plaats de elementen in een rij */
    align-items: flex-start; /* Zorg ervoor dat ze aan de bovenkant uitgelijnd zijn */
    justify-content: center; /* Centreer de inhoud horizontaal */
}

.ascii-art {
    font-family: monospace; 
    white-space: pre; 
    color: #FFFFFF; 
    font-size: 14px; 
    line-height: 1.2;
    text-align: center; 
}

.rechthoek {
    color: #d7b668;
    width: 300px;
    height: 500px;
    padding: 10px; /* Ruimte binnen de rechthoek */
    margin: 10px; /* Ruimte buiten de rechthoek */
    background-color: #f0f0f0; /* Achtergrondkleur */
}