body {
    display: flex;
    flex-direction: column; /* Verwijder de eerste flex-direction */
    align-items: center; 
    margin-top: 0px; 
    background: linear-gradient(#6bae83, #c63941);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #FFFFFF;
}

.container1 {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
}

label {
    display: flex;
    flex-direction: row;
    margin-right: 10px;
}

input {
    display: flex;
    flex-direction: row;
    margin-right: 10px; 
}

h1 {
    display: flex;
    flex-direction: row;
    text-align: center;
}


.container2 {
    display: flex;
    flex-direction: row; /* Houd dit op row */
    align-items: center; 
    justify-content: space-between; /* Dit plaatst de elementen aan de uiteinden */
    width: 100%; /* Zorg ervoor dat de container de volledige breedte heeft */
}

.rechthoek {
    width: 250px; /* Breedte van de rechthoek */
    height: 500px; /* Hoogte van de rechthoek */
    background-color: #f0efea; /* Achtergrondkleur */
    margin-left: 40%;
}

@media (max-width: 300px) {
    .rechthoek {
        background-color: #0044ff; /* Achtergrondkleur voor kleinere schermen */
    }
}

.ascii-art {
    font-family: monospace; 
    white-space: pre; 
    color: #FFFFFF; 
    font-size: 14px; 
    line-height: 1.2;
    text-align: center; 
    margin-right: 15%; /* Zorg ervoor dat er wat ruimte is aan de rechterkant */
}

.kaart{
    display: flex;
    flex-direction: row;
    line-height: 1.2;
    margin-left:10px ;

    color: #d7b668;
}
